# Base
NEXT_PUBLIC_BASE_URL=https://gozaika.vercel.app

# Analytics and verification
NEXT_PUBLIC_GA_ID=G-4DTVBZ9RM6
GOOGLE_SITE_VERIFICATION=-6MHp-zjcAsAxYwjQ16uCY5JFyu2DkXQUUQm5B0KQiY



# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nxvthewcwimrpjbzbcvx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_UdIo3YZt5UG7dlrLAcfwsQ_DPQuyWuc

# Resend and mail routing
RESEND_API_KEY=re_9D6aVthK_FjtmXZmx44Vv2sm6mKEgdbna
RESEND_FROM_EMAIL=goZaika <onboarding@resend.dev>
WAITLIST_TO_EMAIL=waitlist@gozaika.in
CONTACT_TO_EMAIL=hello@gozaika.in
PARTNERS_TO_EMAIL=partners@gozaika.in


# Upstash Redis
UPSTASH_REDIS_REST_URL=https://smooth-ladybird-101867.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAY3rAAIocDFhMGI5ODFjODViYjg0ZThkODA0NDhmYWQ2ZTdmODYyY3AxMTAxODY3



# Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAC_erZjtxAvpkr18
TURNSTILE_SECRET_KEY=0x4AAAAAAC_erQ80Rwvo686xC0Tl87OYmlU

